<div class="container">
  <h1>Todo List</h1>

  <form (submit)="addTodo()">
    <input [(ngModel)]="newTodo.title" name="title" placeholder="New todo" required />
    <input [(ngModel)]="newTodo.description" name="description" placeholder="Description" />
    <input [(ngModel)]="newTodo.dueDate" name="dueDate" type="date" />
    <button type="submit">Add</button>
  </form>

  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" [checked]="todo.completed" (change)="toggleComplete(todo)" />
      <span [class.completed]="todo.completed">{{ todo.title }} - {{ todo.description }}</span>
      <button type="button" (click)="deleteTodo(todo._id!)">Delete</button>
    </li>
  </ul>
</div>